@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tomorrow&display=swap');

* {
    font-family: "Be Vietnam Pro", sans-serif;
}

@keyframes scale {
    from { transform: scale(1);}
    to   { transform: scale(1.5);}
}

.nametag {
    text-align: center;
    color: #F15025;
    font-size: 10vw;
    font-weight: 900;
    margin: 0;
}

p {
    font-size: 12pt;
}


.projects {
    position: relative;
    display: grid;
    gap: 1em;
    grid-template-columns: 100%;

    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    padding-right: 2em;
    margin-bottom: 5em;
}


@media screen and (min-width: 768px)
{
    .nametag {
        text-align: center;
        color: #F15025;
        font-size: 128pt;
        font-weight: 900;
        margin: 0;
    }

    p {
        font-size: 14pt;
    }

    
.projects {
    position: relative;
    display: grid;
    gap: 1em;
    grid-template-columns: 50% 50%;

    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    padding-right: 2em;
    margin-bottom: 5em;
}

}

header {
    position: relative;
    z-index: 10;
}

body {
    background-color: #191919;
    border: 0;
    margin: 0;
}

main {
    box-sizing: border-box;
    padding: 0em 2em;
}

nav {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.5em;
    gap: 1em;
    background-image: linear-gradient(#1e1e1e,#191919);
    color: #F15025;
}

nav > * {
    font-size: 18pt;
}

a, a:visited {
    color: #F15025;   
}

a:hover {
    color: #ff7d59;
}

.ballCanvas {
    width: 100%;
    height: 100%;
    z-index: -1;

    overflow: hidden;
    animation-name: scale;
    animation-duration: 100s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.ballContainer {
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: difference;
}

.balls {
    fill: #e1e1e1;
}

h3 {
    margin-top: 0;
    text-align: center;
    color: #F15025;
    padding-bottom: 2em;
}

.project {
    border: 2pt solid rgba(0, 0, 0, 0.154);
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.076);
}

.project:hover {
    transform: scale(1.01);
}

.name {
    font-size: 20pt;
    text-align: center;
    padding-bottom: 0.5em;
}

img {
    border: 2pt solid black;
}

em, .name {
    color: #F15025;
    font-weight: 600;
    font-style: normal;
}

footer {
    position: fixed;
    bottom: 0;
    opacity: 0.3;
}